Gestor_de_Agendas.json
{
  "name": "Gestor de Agendas",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fabreuesouza@gmail.com",
          "mode": "list",
          "cachedResultName": "fabreuesouza@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now }}",
          "timeMax": "={{ $now.plus(7, 'days') }}"
        }
      },
      "id": "44d4f94b-d83e-483c-b7f0-3fd803100cfa",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        380,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MD9kduNrSAZjnFny",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97825957-9df7-4fbe-ad7f-b02a69f6f240",
              "name": "Evento",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "88bd6085-8cc3-4b10-940d-81b43ec61780",
              "name": "Status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "b121f62a-43a2-4a25-b408-814d101a8fdd",
              "name": "Início",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "1fe2d919-b203-4faf-82ce-9254cf7119c8",
              "name": "Fim",
              "value": "={{ $json.end.dateTime.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "720ca2ee-831b-4793-9fcf-aff333a5bac5",
              "name": "Meeting Link",
              "value": "={{ $json.hangoutLink }}",
              "type": "string"
            },
            {
              "id": "e442d0df-e060-4303-9a01-047c70fabc14",
              "name": "Hora de Início",
              "value": "={{ (() => {\n  const date = new Date($json.start.dateTime);\n  date.setHours(date.getHours() - 3);\n  return date.toISOString().slice(11, 16);\n})() }}",
              "type": "string"
            },
            {
              "id": "80bc474e-9bfc-408a-a4bf-4a259eb532e6",
              "name": "=Hora de Fim",
              "value": "={{ (() => {\n  const date = new Date($json.end.dateTime);\n  date.setHours(date.getHours() - 3);\n  return date.toISOString().slice(11, 16);\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "787ca23c-6f5f-4e71-a006-b4cac1f460ee",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attendees",
        "options": {}
      },
      "id": "aa5c65ba-cfbb-4b5e-a5db-08828969f47b",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        600
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "+5521988789979",
        "textBody": "=📆 {{ $json.Evento }}\n---\n🕔 {{ $json['Início'] }} - {{ $json['Hora de Início'] }}\n🕔 {{ $json.Fim }} - {{ $json['Hora de Fim'] }}\n{{ $json.email }} - {{ $json.responseStatus }}\n{{ $json['Meeting Link'] }}\nStatus: {{ $json.Status }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "9f13400d-c167-4586-860f-7e74c784196b",
      "name": "WhatsApp Business Cloud3",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1500,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "cebf5a41-3dab-4da0-a9e9-6628f813a2ec",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "9c85403f-d648-44bc-8cb4-78c6c6324eee",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        560,
        1060
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Minute }}{{ $json.Second }}"
      },
      "id": "92cddba8-533c-4a50-96ed-0d1e321b1f85",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.toDateTime().minus(12, 'hours') }}"
        }
      },
      "id": "58279d24-65b9-4675-8069-6bbd968d8c21",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        860,
        1100
      ],
      "webhookId": "d9865c00-e8d1-4dfa-a63c-61cedfe8cd69",
      "credentials": {
        "gmailOAuth2": {
          "id": "bOT3nls9GMJqJw6i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "+5521988789979",
        "textBody": "=Resumo dos Emails - 12 horas\n---\n{{ $json.whatsappMessage }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "008fa063-ec95-4e2a-9b54-39ac4b3c1005",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1260,
        820
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analize todos os emails recebidos no intervalo determinado pelo filtro da tool GMAIL. Escreva um texto resumindo os assuntos e informando a importâncias de cada um de 0 a 3, seno 0 o mais importante e 3 o menos importante. Não utilize carceteres como \"\\,n,/,-,|\" no texto. Para cada ítem numerado use uma linha diferente.",
        "options": {
          "systemMessage": "You are a helpful email assistant."
        }
      },
      "id": "e576858c-4933-490f-a77a-510fbe238002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        820
      ]
    },
    {
      "parameters": {
        "instructions": "Escreva um texto organizado, considerando cada título de email como uma nova linha no texto, formatando uma mensagem para whatsapp. Organize a numeração com apenas um número por ítem.",
        "codeGeneratedForPrompt": "Escreva um texto organizado, considerando cada título de email como uma nova linha no texto, formatando uma mensagem para whatsapp. Organize a numeração com apenas um número por ítem.",
        "jsCode": "const items = $input.all();\nconst emails = items.map((item) => item.json.output);\n\nconst whatsappMessage = emails\n  .map((email, index) => `${index + 1}. ${email}`)\n  .join(\"\\n\");\n\nreturn [{ whatsappMessage }];\n"
      },
      "id": "5b5ecc25-a3da-49d0-a032-2ba29b5da9ca",
      "name": "AI Transform",
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        980,
        820
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8b90a9e9-2272-4e5c-b449-9a6733fe0199",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1220,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "adee33a3-9bdd-451c-9583-8541896cb5ce",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Aniversário",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e62a9aa-ad35-451b-b02c-7beffe4f6661",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transform": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d923dad6-abc8-4d82-b0ca-f396918ad9d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "NsFzm7k8c1BUwpmG",
  "tags": []
}