News_Tracker.json
{
  "name": "News Tracker",
  "nodes": [
    {
      "parameters": {
        "url": "http://news.mit.edu/rss/topic/artificial-intelligence2",
        "options": {}
      },
      "id": "2184a8cb-a9bd-4892-be7f-a90f236a65e9",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -360
      ]
    },
    {
      "parameters": {
        "url": "https://www.unite.ai/feed/",
        "options": {}
      },
      "id": "2a9ae9ee-c274-434b-b689-b2e77bcf0ef3",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://bair.berkeley.edu/blog/feed.xml",
        "options": {}
      },
      "id": "fee54331-b174-4da0-816b-fb7a55d36cf5",
      "name": "RSS Read2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -520
      ]
    },
    {
      "parameters": {
        "url": "https://machinelearningmastery.com/blog/feed/",
        "options": {}
      },
      "id": "eff2bf53-cb93-4fca-a9f4-de2c4374b872",
      "name": "RSS Read3",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -1000
      ]
    },
    {
      "parameters": {
        "url": "https://www.analyticsvidhya.com/feed/",
        "options": {}
      },
      "id": "828354c9-0497-48b0-b749-154a4f7e6353",
      "name": "RSS Read4",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -680
      ]
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "id": "e9a720a6-d3fa-45ae-9ecd-b266c4fa9d52",
      "name": "RSS Read5",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -840
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "5521988789979",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "0074125c-1ae7-4839-a917-acdd7e3eeed1",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2200,
        -720
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 35
      },
      "id": "7bb80b5d-1906-474a-8dca-0b88c07c7d5f",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1540,
        -600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dd944bb-aee7-40b2-bdbd-f4bf40e4b5c0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "710ecd4c-6b90-49b0-a08e-2e00b3eaa322",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "83218dc2-a226-4c74-b1dc-4b96136779d3",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Machine Learning",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a6a26cec-0fab-4f22-87e2-2f8b7c2a9e22",
              "leftValue": "={{ $json.title }}",
              "rightValue": "xAI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d56872fa-5c36-47d5-9a48-4e5b499f7747",
              "leftValue": "={{ $json.title }}",
              "rightValue": "gemini",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b90950e2-9d16-4d34-abd9-28ad8f170371",
              "leftValue": "={{ $json.title }}",
              "rightValue": "artificial intelligence",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "16693b08-d67e-42a6-8f12-f56e2c9049d2",
              "leftValue": "={{ $json.title }}",
              "rightValue": "marketing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e12ea86c-af56-4bf1-9f21-8cbcb9ad7353",
              "leftValue": "={{ $json.title }}",
              "rightValue": "chatgpt",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a809bb6e-3ecd-43c0-8ce8-a151fe64782b",
              "leftValue": "={{ $json.title }}",
              "rightValue": "language model",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f65fc2fb-f61e-42f3-93fe-35730dde3ea0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "LLM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fd6c9315-5a2c-4a3e-9397-2b9115e2dd1e",
      "name": "Filtro Interesses1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        -580
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "4f229cfe-e7bd-4b36-8d07-9d0704a3a9c4",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -1000
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "d0ab9cb6-1804-40c7-bccb-f734718cf069",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -840
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "1a5e3e30-e675-4577-9710-5388e710c53d",
      "name": "Limit4",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -680
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "3e6aca83-064c-481e-8f64-16f8dfb2a7f2",
      "name": "Limit5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -520
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "a5560641-2e24-480e-ba31-257579fd0e3a",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1780,
        -400
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gSJalkfoqFRHXbIS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "7f9c853b-ef3a-4a76-8791-2653d83a31bc",
      "name": "Limit6",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -360
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "0314c6cb-8e61-466d-adef-bdb6cb131b3c",
      "name": "Limit7",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "cd4090f3-5c29-492f-8f6b-c7ad28f262e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        -520
      ]
    },
    {
      "parameters": {
        "sendTo": "fabreuesouza@gmail.com",
        "subject": "=Boletim IA [{{ $now.format('dd-MM-yyyy') }}]",
        "message": "=Principais artigos sobre Inteligência Artificial, LLM's e Marketing Digital </ br></ br>\n\n---</ br></ br>\n\n{{ $json.data }}",
        "options": {}
      },
      "id": "e9d74458-df6b-4ef8-93c9-9e5b2b7678b1",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        -500
      ],
      "webhookId": "ccf8b51a-4871-4e6b-a5be-2808c5edad95",
      "credentials": {
        "gmailOAuth2": {
          "id": "bOT3nls9GMJqJw6i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Escreva o tírulo do artigo {{ $json.title }}, em português do Brasil.\nAdicione a data de postagem no formato europeu {{ $json.pubDate }}. Exemplo: 20/12/2025.\nFaça um breve resumo, em português brasileiro, do artigo: {{ $json.guid }}. Ao final do resumo cite o site fonte do artigo {{ $json.guid }} .",
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      },
      "id": "eab46e6a-cb7e-421e-8890-6beaea127c6e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1760,
        -600
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "8465a4c4-5353-436b-a4c7-1556615dfd41",
      "name": "Markdown1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2200,
        -500
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e496b375-6478-4178-aa08-c3b6ea205e23",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        -500
      ]
    },
    {
      "parameters": {
        "url": "https://hanhdbrown.com/feed/",
        "options": {}
      },
      "id": "bae30170-ee60-41e4-80c2-263ebc393881",
      "name": "RSS Read6",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -40
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "99380847-5c23-46a1-98c9-1c87a02b441e",
      "name": "Limit11",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -40
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "5521988789979",
        "template": "contato_inicial|pt_BR",
        "requestOptions": {}
      },
      "id": "bf97bd65-b06e-45a3-bcc6-5ac8140a78c3",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1320,
        -940
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://dailyai.com/feed/",
        "options": {}
      },
      "id": "0372dccf-34d6-4d63-b17a-74d9cce7b2ac",
      "name": "RSS Read7",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        120
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "452d5617-4615-4750-a135-2a8f4f38399b",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        120
      ]
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "id": "1474d00d-eccf-44ab-b8d8-7d9da5344551",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        -580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Interesses1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Limit7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read6",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read6": {
      "main": [
        [
          {
            "node": "Limit11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "RSS Read7": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filtro Interesses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c24c394-eb07-4fd0-ab25-db56a87b869f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "lfcbhwLXNFSiADJv",
  "tags": []
}