Prospecta_20.json
{
  "name": "Prospecção 2.0",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "535064c5-dcea-42e2-850d-f0733b1a77dc",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        -1020
      ]
    },
    {
      "parameters": {
        "url": "=https://places.googleapis.com/v1/places/{{ $json.place_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,businessStatus,nationalPhoneNumber,primaryType,primaryTypeDisplayName,location,displayName,formattedAddress,websiteUri,rating,userRatingCount"
            },
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "7a946159-1ee6-46e5-a32f-1ebed2580457",
      "name": "Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        -1020
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "hl",
              "value": "pt"
            },
            {
              "name": "gl",
              "value": "br"
            },
            {
              "name": "google_domain",
              "value": "google.com.br"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "f0ee7e57-50fd-4299-bd9d-995a50350284",
      "name": "Google Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -1020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.websiteUri; // Recebe a URL do campo \"websiteUri\"\n\n// Função para extrair o domínio usando Regex\nfunction extractDomain(url) {\n  try {\n    // Remover espaços desnecessários\n    const normalizedUrl = url.trim();\n    \n    // Expressão regular para capturar o domínio\n    const match = normalizedUrl.match(/https?:\\/\\/(www\\.)?([^\\/]+)/);\n    \n    if (match && match[2]) {\n      // Retorna o segundo grupo capturado: o domínio\n      return match[2];\n    } else {\n      return `Invalid URL: ${url}`; // URL não corresponde ao padrão\n    }\n  } catch (error) {\n    return `Invalid URL: ${url}`; // Retorna mensagem de erro com a URL\n  }\n}\n\n// Executa a função e retorna o domínio\nreturn { json: { domain: extractDomain(url) } };\n"
      },
      "id": "1019e784-9bdf-4c82-8232-ae8dc68671dd",
      "name": "Extrai Domínio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -1160
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "text": "={{ $json.pagemap.metatags[0]['og:description'] }}",
        "attributes": {
          "attributes": [
            {
              "name": "Seguidores",
              "description": "Extraia a informação de quantidade seguidores (followers) a partir das descrições do Instagram."
            },
            {
              "name": "Posts",
              "description": "Extraia a informação de quantidade de posts a partir das descrições do Instagram."
            },
            {
              "name": "Link",
              "description": "Extraia a informação de link a partir das descrições do Instagram."
            },
            {
              "name": "Snippet",
              "description": "Extraia a descrição do perfil do Instagram através da string \"snippet\"."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\n\nExtract the informations below in JSON format following the structure example:\n\nLink: {{ $json.htmlFormattedUrl }}\nSnippet: {{ $json.snippet }}\nSeguidores:\nPosts:"
        }
      },
      "id": "b37d716d-32a0-4c63-8d7b-1e1bb2c67de3",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        3280,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "ac2e5196-4824-453f-8cd7-52b3ce4cd039",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3480,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "pagetoken",
              "value": "={{ $json.next_page_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        -920
      ],
      "id": "34ebeefb-3d64-4d2a-85e8-4f743e2bc376",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        -920
      ],
      "id": "9eef48ee-c456-4c09-9992-b9b39a2dd6d6",
      "name": "Wait",
      "webhookId": "cb8b65cb-c463-4171-8b1c-cbaa8581a1aa"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 147184,
        "tableId": 399378,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3042502,
              "fieldValue": "={{ $json['Nome da Empresa'] }}"
            },
            {
              "fieldId": 3074463,
              "fieldValue": "={{ $json.Nicho }}"
            },
            {
              "fieldId": 3042503,
              "fieldValue": "={{ $json.Telefone }}"
            },
            {
              "fieldId": 3042504,
              "fieldValue": "={{ $json.Site }}"
            },
            {
              "fieldId": 3042505,
              "fieldValue": "={{ $json['Endereço'] }}"
            },
            {
              "fieldId": 3054385,
              "fieldValue": "={{ $json.Cidade }}"
            },
            {
              "fieldId": 3042514,
              "fieldValue": "={{ $json.Bairro }}"
            },
            {
              "fieldId": 3054387,
              "fieldValue": "={{ $json.CEP }}"
            },
            {
              "fieldId": 3054386,
              "fieldValue": "={{ $json.Estado }}"
            },
            {
              "fieldId": 3042512,
              "fieldValue": "={{ $json['Avaliações'] }}"
            },
            {
              "fieldId": 3042513,
              "fieldValue": "={{ $json.Nota }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3020,
        -1040
      ],
      "id": "47e37797-ddc8-4fec-b45a-21ada49fd8c5",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33a1af8c-9aa1-4b89-a6d9-7b45704a7ced",
              "leftValue": "={{ $json.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        -940
      ],
      "id": "695b6305-3021-423d-95a0-07f59833a804",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "pagetoken",
              "value": "={{ $json.next_page_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -680
      ],
      "id": "3965ccdd-8e37-491e-b3c6-2c997665e96c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        600,
        -680
      ],
      "id": "90a57a18-ece0-4c14-91fd-275fcc1dc226",
      "name": "Wait1",
      "webhookId": "c287299d-79db-46cf-b6f7-00c619fe35d4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33a1af8c-9aa1-4b89-a6d9-7b45704a7ced",
              "leftValue": "={{ $json.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        -680
      ],
      "id": "3bbd871d-8d8f-4cce-9191-37061512d3a4",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b017ca-2d02-464d-ae01-c80f47206881",
              "name": "Site",
              "value": "={{ $json.websiteUri }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        -1160
      ],
      "id": "3b9dbe86-da36-4dd2-a3f7-cf4b95634a2c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "site:instagram.com Roger.best.Burguer no meier, rj"
            },
            {
              "name": "google_domain",
              "value": "google.com.br"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "e12aa481-8499-4867-8722-c0d88bb39858",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "e86a990e-ce95-4e08-a464-404f7830de62",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2960,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8e0e1f27-f45f-4f53-a51e-cd2478d0e344",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        -1020
      ],
      "webhookId": "6b42fabe-7126-4c33-8ae1-df6874f46567"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        600,
        -420
      ],
      "id": "fea0d963-4747-420f-ac91-6193a3a0a0bf",
      "name": "Wait2",
      "webhookId": "c287299d-79db-46cf-b6f7-00c619fe35d4"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "pagetoken",
              "value": "={{ $json.next_page_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -420
      ],
      "id": "4cc00e90-22f5-48bd-bd1c-1df1ed835d96",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33a1af8c-9aa1-4b89-a6d9-7b45704a7ced",
              "leftValue": "={{ $json.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        -420
      ],
      "id": "015b753b-0e42-456e-8e8a-04b612f05467",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54325797-c220-4feb-aadc-7019dfd5c524",
              "name": "Empresa",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0053ff59-3699-4127-a996-ddf3fe9f7bad",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "213d5491-3897-43ff-b609-8b8293179d83",
              "name": "Nome Instagram",
              "value": "={{ $json.pagemap.metatags[0]['og:title'] }}",
              "type": "string"
            },
            {
              "id": "6f61168f-f087-4c8b-8cf7-ccd914789231",
              "name": "Email",
              "value": "={{ $json.htmlSnippet }}",
              "type": "string"
            },
            {
              "id": "4a2a74df-f1b6-4d7b-994d-99dc87357470",
              "name": "Seguidores",
              "value": "={{ $json.pagemap.metatags[0]['og:description'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6a3ed598-b453-4b6e-aa9b-c79ef35964a0",
      "name": "Instagram Scraper",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "d9194711-8de2-4b07-b09f-ef84deb1281e",
      "name": "Busca Google API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -40
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "c16f2746-c89c-4af0-96d2-e0aaeddf1b1b",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1060,
        360
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.Empresa }}\n{{ $json.Link }}\n{{ $json['Nome Instagram'] }}\n{{ $json.Email }}\n{{ $json.Seguidores }}",
        "attributes": {
          "attributes": [
            {
              "name": "Nome da Conta",
              "description": "=Extraia do campo {{ $json.Empresa }} todo o texto que vem antes do parêntesis.",
              "required": true
            },
            {
              "name": "Link",
              "description": "=Extract the instagram account link from {{ $json.Link }} cleaning all extra information.",
              "required": true
            },
            {
              "name": "Username",
              "description": "=Extraia o username do instagram que vem agregado com o caracter \"@\" no campo {{ $json['Nome Instagram'] }}.",
              "required": true
            },
            {
              "name": "Seguidores",
              "description": "=Extract the number of followers from the field {{ $json.Seguidores }}.",
              "required": true
            },
            {
              "name": "Seguindo",
              "description": "=Extract the number of following from the field {{ $json.Seguidores }}.",
              "required": true
            },
            {
              "name": "Posts",
              "description": "=Extract the number of posts from the field {{ $json.Seguidores }}.",
              "required": true
            },
            {
              "name": "Email",
              "description": "=Extract the email address available from the field {{ $json.Email }}.",
              "required": true
            },
            {
              "name": "Nicho",
              "description": "=Extraia a área de atuação ou nicho de mercado da informação {{ $json.Empresa }}",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\n\nAnswer in below formatted JSON:\n\nNome da Conta:\nLink:\nUsername:\nEmail:\nSeguidores:\nSeguindo:\nPosts:"
        }
      },
      "id": "081fe105-40f0-4c72-a889-9f28f383ba29",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1460,
        360
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "881a1df2-2651-448d-aa8c-228f0524be71",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1620,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $('Query Google').item.json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "11"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "cc150e03-b9b2-479e-b480-339185dc75ba",
      "name": "Busca Pg.2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        180
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "5806ecc9-2f5e-46ce-a517-af44813ce9b0",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        180
      ],
      "webhookId": "abbfcd5c-9e63-4522-89c8-a652f1ee2e91"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "179428de-041b-4f85-99f3-ad56c9217375",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        400
      ],
      "webhookId": "abbfcd5c-9e63-4522-89c8-a652f1ee2e91"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "85ae0f86-cbd2-439b-8a39-eba5c14685ae",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        620
      ],
      "webhookId": "abbfcd5c-9e63-4522-89c8-a652f1ee2e91"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $('Query Google').item.json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "=31"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "94d85c9f-e583-4c6e-9fba-9058d57760d6",
      "name": "Busca Pg.1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $('Query Google').item.json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "=21"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "f46a0353-7054-4c8a-9d60-92d2777e63bd",
      "name": "Busca Pg.3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "72dc2817-c873-49bb-a86a-4faa28ee402d",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1840,
        360
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "1805a660-8ae4-4b20-88cf-aecf2ce131ac",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        840
      ],
      "webhookId": "abbfcd5c-9e63-4522-89c8-a652f1ee2e91"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $('Query Google').item.json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "=41"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "75fcf03e-7896-4d2f-951e-29866fc89e43",
      "name": "Busca Pg.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        840
      ]
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "34090236-95d1-41c8-8d4a-3b408a525ae1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        840,
        340
      ]
    },
    {
      "parameters": {},
      "id": "117a7990-6508-4d61-9200-1c20727106af",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        -40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "523e2644-ceec-4676-ad96-e96eb7216445",
              "name": "query",
              "value": "site:instagram.com intitle:\"interiores\" intext:\"interiores\" AND \"followers\" AND \"following\" AND \"posts\" ",
              "type": "string"
            },
            {
              "id": "6a4e2724-e61b-4374-8773-4efe76d06c0a",
              "name": "nicho",
              "value": "Nutricionistas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c4375257-4406-4be1-98da-ffeb8725e368",
      "name": "Query Google",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 147184,
        "tableId": 405833,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3097973,
              "fieldValue": "={{ $json.output['Nome da Conta'] }}"
            },
            {
              "fieldId": 3097979,
              "fieldValue": "={{ $json.output.Username }}"
            },
            {
              "fieldId": 3097980,
              "fieldValue": "={{ $json.output.Email }}"
            },
            {
              "fieldId": 3097981,
              "fieldValue": "={{ $json.output.Seguidores.replace(/,/g, '') }}"
            },
            {
              "fieldId": 3097982,
              "fieldValue": "={{ $json.output.Seguindo.replace(/,/g, '') }}"
            },
            {
              "fieldId": 3097986,
              "fieldValue": "={{ $json.output.Posts.replace(/,/g, '') }}"
            },
            {
              "fieldId": 3097987,
              "fieldValue": "={{ $json.output.Link }}"
            },
            {
              "fieldId": 3207420,
              "fieldValue": "={{ $json.output.Nicho }}"
            }
          ]
        }
      },
      "id": "5c44f54e-1ce2-4556-afcc-cbbc4ffba224",
      "name": "Baserow1",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2080,
        360
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "value": "853c61790af224d2c"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "lr",
              "value": "lang_pt"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "1"
            },
            {
              "name": "datarestrict",
              "value": "7d"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "0db0ddbf-42cc-49b8-a169-4adcfd1bef36",
      "name": "Busca Google API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "523e2644-ceec-4676-ad96-e96eb7216445",
              "name": "query",
              "value": "artificial.inteligence news",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8cb8ec5f-5d9d-4c41-9a66-3c1f88d94a4e",
      "name": "Query Google1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "ddd06d05-fef9-427e-84cf-c72eab205f81",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3040,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "173c1cdb-b995-43e5-ba05-7b0bf31033d7",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "2edefe57-30d3-48a9-93e8-8d000a1f7856",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6e4ab545-26a0-47a7-857f-63a6250ccf49",
              "name": "displayLink",
              "value": "={{ $json.displayLink }}",
              "type": "string"
            },
            {
              "id": "18249153-b2d3-4718-a9ef-80bd3f9b33c6",
              "name": "data_publicacao",
              "value": "={{ $json.pagemap.metatags[0].available }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4256eeb9-866b-475d-9136-8953e7105565",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        260
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oGW9R6aAoIYPwXRYeN6_3ENYdDqL0q67p9f1rXfzdmI",
          "mode": "list",
          "cachedResultName": "Conteúdos Instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oGW9R6aAoIYPwXRYeN6_3ENYdDqL0q67p9f1rXfzdmI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oGW9R6aAoIYPwXRYeN6_3ENYdDqL0q67p9f1rXfzdmI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Url": "={{ $json.link }}",
            "Texto do Post": "={{ $json.title }}",
            "Data de Postagem": "={{ $json.data_publicacao }}",
            "Prompt para a Imagem": "null"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Texto do Post",
              "displayName": "Texto do Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt para a Imagem",
              "displayName": "Prompt para a Imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de Postagem",
              "displayName": "Data de Postagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "cabca29e-8144-4735-8314-40c9a27ea9f2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3520,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cJGod3ygHAv8telb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.formattedAddress }}",
        "attributes": {
          "attributes": [
            {
              "name": "Bairro",
              "description": "Extraia a informação do bairro."
            },
            {
              "name": "Cidade",
              "description": "Extraia a informação de cidade."
            },
            {
              "name": "Estado",
              "description": "Extraia a informação do estado (UF)."
            },
            {
              "name": "CEP",
              "description": "Extraia a informação de CEP."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. Always answer all the attributes."
        }
      },
      "id": "27c4827b-1aa3-4d89-b396-1167e5e6a3d5",
      "name": "Extract Site Info",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1980,
        -900
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "db2d8a95-6a68-4571-a805-cd67736e5654",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2160,
        -720
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7eb883e-049c-4810-abad-69681401564f",
              "name": "Site",
              "value": "={{ $json.websiteUri }}",
              "type": "string"
            },
            {
              "id": "f4a42d6d-9fa2-438d-914a-d3233eece48d",
              "name": "Bairro",
              "value": "={{ $json.output.Bairro }}",
              "type": "string"
            },
            {
              "id": "f1070761-24af-4c9c-86c6-1cf46e1d9654",
              "name": "Cidade",
              "value": "={{ $json.output.Cidade }}",
              "type": "string"
            },
            {
              "id": "8a2a19aa-4ccb-4a91-b513-0f9a9c13a845",
              "name": "Estado",
              "value": "={{ $json.output.Estado }}",
              "type": "string"
            },
            {
              "id": "aec823d8-811d-4f07-9f00-67ca886a32ee",
              "name": "CEP",
              "value": "={{ $json.output.CEP }}",
              "type": "string"
            },
            {
              "id": "3050ce93-8dbb-48cf-8618-c1ec0558452c",
              "name": "Telefone",
              "value": "={{ $json.nationalPhoneNumber }}",
              "type": "string"
            },
            {
              "id": "cc95257a-bb0c-4249-aabf-c38dacc24d1d",
              "name": "Endereço",
              "value": "={{ $json.formattedAddress }}",
              "type": "string"
            },
            {
              "id": "2a8263b7-01bd-49cb-bd3f-7ed05e0e5ba3",
              "name": "Nota",
              "value": "={{ $json.rating }}",
              "type": "number"
            },
            {
              "id": "3ac05c26-be18-4554-8349-af937e1e9895",
              "name": "Avaliações",
              "value": "={{ $json.userRatingCount }}",
              "type": "number"
            },
            {
              "id": "0d78c981-d7aa-45cc-98f4-5649ecb739c7",
              "name": "Nome da Empresa",
              "value": "={{ $json.displayName.text }}",
              "type": "string"
            },
            {
              "id": "5b41faeb-55b1-49bd-b5df-4179b17fd6ca",
              "name": "Nicho",
              "value": "={{ $json.primaryTypeDisplayName.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "id": "89cf6e7f-b918-4a73-848b-0a71e04fec48",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        -1040
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "a1cbf26c-c301-4207-92da-4c67e6b5a1a6",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2520,
        -1040
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "listId": "=6661220bf781bdb42aba67e3",
        "name": "={{ $json['Nome da Empresa'] }}",
        "description": "=Lead ID: {{ $json.cod_lead }}\nTelefone: {{ $json.Telefone }}\nEndereço: {{ $json['Endereço'] }}\nAvaliações Google: {{ $json['Avaliações'] }}\nNota Google: {{ $json.Nota }}\nNicho: {{ $json.Nicho }}\n",
        "additionalFields": {
          "urlSource": "={{ $json.Site }}"
        }
      },
      "id": "76448e6b-a463-4587-9e78-bae54bdde025",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        3300,
        -1040
      ],
      "credentials": {
        "trelloApi": {
          "id": "VML4k66JWtpjrBJW",
          "name": "Trello account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out1": {
      "main": [
        [
          {
            "node": "Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Details": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Site Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Places": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Domínio": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extrai Domínio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Google API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Accounts": {
      "main": [
        [
          {
            "node": "Instagram Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Scraper": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Busca Pg.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Pg.2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Busca Pg.3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Busca Pg.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Pg.3": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Busca Pg.1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          },
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Baserow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Busca Pg.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Pg.": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Query Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Google": {
      "main": [
        [
          {
            "node": "Busca Google API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Google1": {
      "main": [
        [
          {
            "node": "Busca Google API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Google API1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Site Info": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Site Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95f58954-44b0-4376-873d-c959ace4f0e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "Ux6yB3Ksb33GFz8V",
  "tags": []
}