Redator_de_Blog_v2.0.json
{
  "name": "Redator de Blog",
  "nodes": [
    {
      "parameters": {},
      "id": "b17584c9-effc-4869-90ee-36518cbdc32c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://blog.rdstation.com/estrategia-multicanal/",
        "options": {}
      },
      "id": "ee1d60d1-9186-4613-98cc-5b62876c8e9f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Content",
              "description": "Seja minucioso e extraia todo o conteúdo do artigo que está dentro dos identificadores: before-article e after-article."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "d088289c-2a6e-4165-8891-e15a400d319b",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1580,
        200
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "ca748fe8-e7cc-4027-be8c-b5e213a5fdf9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2000,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "emDelimiter": "<body></body>"
        }
      },
      "id": "bd4c5ffd-da3e-4506-8e6c-cea90a2b28ef",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.output.Content }}",
        "attributes": {
          "attributes": [
            {
              "name": "Palavra Chave Principal",
              "description": "Extraia do texto a palavra-chave principal, sendo aquela palavra ou termo que tem mais coerência com o conteúdo e que esteja sinalizada como keyword nos marcadores de SEO do artigo. Sempre escreva em português do Brasil."
            },
            {
              "name": "Mensagem Central",
              "description": "Extraia uma única frase que represente a mensagem central do artigo. Sempre escreva em português do Brasil."
            },
            {
              "name": "Nível",
              "description": "De acordo com a profundidade do conteúdo classifique-o como Iniciante ou Avançado."
            },
            {
              "name": "Conteúdo Traduzido",
              "description": "Extraia o conteúdo principal por completo, taduzido para o português do Brasil."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "3cf81a84-c34e-46c8-9c7d-a98fd88a9158",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1960,
        200
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 800,
        "height": 450,
        "resizeOption": "onlyIfLarger",
        "options": {
          "fileName": "={{ $('Information Extractor1').item.json.output['Palavra Chave Principal'] }}",
          "format": "jpeg"
        }
      },
      "id": "4c115351-2875-42a2-8786-2375f505cc10",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2620,
        280
      ]
    },
    {
      "parameters": {},
      "id": "f568938d-8b23-4d97-80a2-734081db9097",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        680
      ],
      "webhookId": "5acd9f2b-ef5f-41df-97a2-14a4612cf692"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://digitusmarketing.com.br/wp-json/wp/v2/media/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment ; filename={{ $json.fileName }}.{{ $json.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "id": "d035704a-7540-410a-947d-4889d9703e86",
      "name": "Upload Midia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        280
      ],
      "credentials": {
        "wordpressApi": {
          "id": "zpIwH4wLXT20kCZO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=<agent>\n<role>Você é um redator, com experiência de 30 anos e conhecedor das maiores técnicas de copywriting, escrita persuasiva, neuromnarketing e SEO. Você é um especialista em criação de artigos otimizados para blogs wordpress com plugin Yoast SEO. Use todas as suas habilidades para executar uma escrita humana que não seja identificada por ferramentas detectoras de Inteligência Artificial. Utilize apenas 10% de voz passiva no texto para não ser penalizado pelo Yoast SEO. Faça o máximo que você puder para que até 25% das frases tenham mais de 25 palavras.</role>\n<task>\nUtilizando o título “{{ $json.message.content }}”, escreva um artigo que contenha no máximo 1200 palavras, distribuídas da seguinte forma: 300 palavras para introdução, 600 palavras para o desenvolvimento e 300 palavras para conclusão e CTA. Inspire-se no conteúdo {{ $('Information Extractor1').item.json.output['Conteúdo Traduzido'] }} para escrever o novo artigo.\nO conteúdo deve ser informativo e educativo, com nível de aprendizado {{ $('Information Extractor1').item.json.output['Nível'] }}, com linguagem simples e exemplos práticos para ajudar os leitores a compreenderem o conceito de “{{ $('Information Extractor1').item.json.output['Palavra Chave Principal'] }}” e sua relevância para uma pequena empresa que deseja crescer no universo digital da internet.\nDivida o artigo em subtítulos relevantes, utilizando markdown e tags html <h2>, que expressem a ideia central de cada bloco de texto.\nCertifique-se de aplicar técnicas avançadas de SEO ao longo do artigo e inserir palavras de transição como “pois”, “contudo” e “por causa de” em pelo menos 10% das frases.\nUtilizar com coerência, no artigo, a seguinte palavras-chave principal: “{{ $('Information Extractor1').item.json.output['Palavra Chave Principal'] }}”. Utilize essa palavra-chave no máximo 17 vezes em todo o texto. Ao atingir esse número de 17 comece a usar sinônimos da palavra-chave principal.\nSublinhe no artigo os trechos que podem ser links internos ou externos para assuntos complementares, que tenham relação direta com o artigo que você está escrevendo.\nEsse artigo será carregado na plataforma Wordpress.\nConsidere a forma escrita da língua portuguesa do Brasil, o correto uso gramatical, suas gírias, abreviações e regras.\nUtilizar o seguinte CTA ao final do artigo, após a conclusão: “Pronto(a) para dar o próximo passo no crescimento comercial da sua empresa? Vamos agendar a sua consultoria gratuita e avaliar o posicionamento do seu negócio.\nNão escreva o título no começo do artigo.\nCite a fonte do texto escrevendo a seguinte frase:\nFonte de estudos: \n</task>\n<techniques>Você é um redator, com experiência de 30 anos e conhecedor das maiores técnicas de copywriting, escrita persuasiva, neuromnarketing e SEO. Você é um especialista em criação de artigos otimizados para blogs wordpress com plugin Yoast SEO.</techniques>\n</agent>",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "ab269fad-48b1-42f2-8b17-3f60f1e37056",
      "name": "Redator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1220,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://news.mit.edu/rss/topic/artificial-intelligence2",
        "options": {}
      },
      "id": "faf5eb51-3694-462e-bd38-1fed57138b4a",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -360
      ]
    },
    {
      "parameters": {
        "url": "https://www.unite.ai/feed/",
        "options": {}
      },
      "id": "d69126b8-ede3-4f07-b301-19eb8f39bc6f",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://bair.berkeley.edu/blog/feed.xml",
        "options": {}
      },
      "id": "0d34200b-14f3-4436-abcb-22fbdca2e2f4",
      "name": "RSS Read2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -520
      ]
    },
    {
      "parameters": {
        "url": "https://machinelearningmastery.com/blog/feed/",
        "options": {}
      },
      "id": "217d1829-6095-46c9-a2ab-047c37dc5e2f",
      "name": "RSS Read3",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -1000
      ]
    },
    {
      "parameters": {
        "url": "https://www.analyticsvidhya.com/feed/",
        "options": {}
      },
      "id": "6d9636ee-24b2-4e4a-aa90-a58103aec541",
      "name": "RSS Read4",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -680
      ]
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "id": "27e4b195-93a0-4a1f-80e8-1090aa2edd18",
      "name": "RSS Read5",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -840
      ]
    },
    {
      "parameters": {
        "title": "={{ $('Gera Títulos').item.json.message.content }}",
        "additionalFields": {
          "content": "={{ $('Redator').item.json.choices[0].message.content }}",
          "status": "draft",
          "format": "standard"
        }
      },
      "id": "4718ffee-eb34-4cf8-963d-6ae4378124ef",
      "name": "CRIA O POST",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        860,
        680
      ],
      "credentials": {
        "wordpressApi": {
          "id": "zpIwH4wLXT20kCZO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "options": {
          "before": "={{ $json.modified }}",
          "status": "draft"
        }
      },
      "id": "e6052335-bae8-45e7-b915-b062360d49f4",
      "name": "BUSCA ÚLTIMO POST",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1340,
        680
      ],
      "credentials": {
        "wordpressApi": {
          "id": "zpIwH4wLXT20kCZO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://digitusmarketing.com.br/wp-json/wp/v2/posts/{{ $json.branch_2.id_post }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.branch_1.id_image }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3d5976e-632e-4fb5-b005-01c981640b30",
      "name": "INSERE A IMAGEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        660
      ],
      "credentials": {
        "wordpressApi": {
          "id": "zpIwH4wLXT20kCZO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6ec3679-1a53-441d-83d0-b5f80c8f8a75",
              "name": "id_post",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "2884fb23-ca72-4b61-a491-05ca9c182dbd",
              "name": "link_post",
              "value": "={{ $json.guid.rendered }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4aed8800-b031-414a-b1d9-21ac7e43311e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b877f47-607b-4d41-82d4-fab1348155ae",
              "name": "id_image",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "8c4c4d81-1cc2-4e5c-8dd5-9b0566aa6e46",
              "name": "link_image",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4c78cff3-3807-4042-80dd-f53243949893",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3020,
        400
      ]
    },
    {
      "parameters": {},
      "id": "ab97cec9-47b9-4cfb-8cf5-e766d25ff354",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const allData = $input.all(); // Obtém todos os itens de saída do Merge\n\n// Inicializa um objeto para consolidar os dados\nconst mergedData = {};\n\n// Itera sobre cada entrada de dados\nallData.forEach((item, index) => {\n  // Mescla os dados do item atual no objeto final\n  mergedData[`branch_${index + 1}`] = item.json;\n});\n\n// Retorna o JSON unificado\nreturn { json: mergedData };\n"
      },
      "id": "499971ba-0e5b-4cad-a709-11e38cba0005",
      "name": "CORRIGE BRANCHS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        660
      ]
    },
    {
      "parameters": {
        "url": "https://digitusmarketing.com.br/wp-json/wp/v2/media/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "id": "d493fa8e-69da-4495-9c15-ade3c1479fb1",
      "name": "RENOMEIA IMAGEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        160
      ],
      "credentials": {
        "wordpressApi": {
          "id": "zpIwH4wLXT20kCZO",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-2",
        "prompt": "=Crie uma imagem do tipo \"flat-image\", para ser usada em posts de um blog, use cores destacadas. Não utilize nenhum tipo de texto, letras ou palavras na imagem. Sempre adicione um personagem que se identifique com o assunto tratado. A imagem deve representar o contexto: {{ $json.message.content }}.",
        "options": {
          "size": "1024x1024"
        }
      },
      "id": "18a18cb2-42d2-45de-a663-4149f66ff982",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2440,
        280
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "<agent>\n<role>Especialista em criação de meta-descrição para artigos campeões de seo em blogs wordpress</role>\n<task>Gerar uma meta-descrição persuasiva e envolvente para artigos de blog wordpress</task>\n<techniques>Técncia de escrita envolvente para manter o assinante conectado na leitura.</techniques>\n</agent>",
              "role": "system"
            },
            {
              "content": "=De acordo com o artigo escrito em \"{{ $json.choices[0].message.content }}\", crie uma meta-descrição contendo de 25 a 30 palavras que use a palavra-chave \"{{ $('Information Extractor1').item.json.output['Palavra Chave Principal'] }}\", que gere curiosidade com a ideia central do texto  e que seja escrita em uma frase única."
            }
          ]
        },
        "options": {}
      },
      "id": "af904a7b-b5b2-4af9-95a1-43bc628707d0",
      "name": "MetaDescrição",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1600,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=<agent>\n<role>Especialista em criação de artigos otimizados para blog wordpress.</role>\n<techniques>Utilize as mais avançadas técnicas de SEO e gatilhos mentais como curiosidade e polêmica.</techniques>\n<task>\n1. Pense em 5 ideias de título para um artigo de blog que explique tudo sobre “{{ $json.output['Palavra Chave Principal'] }}”. Considere o conteúdo {{ $json.output['Conteúdo Traduzido'] }} para criar os títulos com coerência. Não tenha pressa, avalie o texto com calma e atenção.\n2. Esse título deve ser muito persuasivo e estimular a curiosidade para que o leitor seja fortemente motivado a clicar para ler o conteúdo.\n2. A palavra “{{ $json.output['Palavra Chave Principal'] }}” deve ser a palavra-chave principal e deve ser adicionada o mais próximo possível do início do título.\n3. O título é para um artigo de nível “{{ $json.output['Nível'] }}” que vai buscar ensinar tudo o que for possível sobre “{{ $json.output['Palavra Chave Principal'] }}”, tendo como mensagem central {{ $json.output['Mensagem Central'] }}. \n4. Dos 5 títulos que você pensou, qual deles você considera o melhor e mais persuasivo para usarmos como título de nosso artigo para um blog wordpress com plugin Yoast? Responda apenas com esse título.\n</task>\n</agent>",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "b81c8e73-dbb3-4fad-95f9-b71e067694f5",
      "name": "Gera Títulos",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        860,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "5521988789979",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "8a579126-5edb-42b7-966c-27d769555259",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2200,
        -720
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 35
      },
      "id": "9c272099-692e-4d20-bff1-e34678cf1af9",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1540,
        -600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dd944bb-aee7-40b2-bdbd-f4bf40e4b5c0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "710ecd4c-6b90-49b0-a08e-2e00b3eaa322",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "83218dc2-a226-4c74-b1dc-4b96136779d3",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Machine Learning",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a6a26cec-0fab-4f22-87e2-2f8b7c2a9e22",
              "leftValue": "={{ $json.title }}",
              "rightValue": "xAI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d56872fa-5c36-47d5-9a48-4e5b499f7747",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Gen AI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b90950e2-9d16-4d34-abd9-28ad8f170371",
              "leftValue": "={{ $json.title }}",
              "rightValue": "artificial intelligence",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "16693b08-d67e-42a6-8f12-f56e2c9049d2",
              "leftValue": "={{ $json.title }}",
              "rightValue": "marketing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e12ea86c-af56-4bf1-9f21-8cbcb9ad7353",
              "leftValue": "={{ $json.title }}",
              "rightValue": "chatgpt",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a809bb6e-3ecd-43c0-8ce8-a151fe64782b",
              "leftValue": "={{ $json.title }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f65fc2fb-f61e-42f3-93fe-35730dde3ea0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "LLM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "745dfae0-f40e-48a4-8297-035ca5ffe31b",
      "name": "Filtro Interesses1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        -580
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "4c5f3e44-de03-4d4a-a3eb-471c8170a1d2",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -1000
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "8de07b2d-623b-40eb-9ad3-8f77c478173d",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -840
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "3f398277-e7a3-47b6-9c0e-2e119db221a9",
      "name": "Limit4",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -680
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "34bfeba2-99e0-42a2-8aed-31a1a06afbe6",
      "name": "Limit5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -520
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "id": "359580a0-661d-4683-92be-03aaa94c11f3",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        -400
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gSJalkfoqFRHXbIS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "147f10cc-2df5-4ae5-b090-16f3f81513e7",
      "name": "Limit6",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -360
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "c2cedd0d-755d-47bd-8fbf-3a14e44fa540",
      "name": "Limit7",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "3ab04dd6-c17d-4f63-9e1b-3d199fd07a2a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        -520
      ]
    },
    {
      "parameters": {
        "url": "https://trivela.com.br/feed/",
        "options": {}
      },
      "id": "4a4f6a2e-b4a5-4009-8da2-aec7e11b9d48",
      "name": "RSS Read9",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        160,
        -2280
      ]
    },
    {
      "parameters": {
        "url": "https://www.analyticsvidhya.com/feed/",
        "options": {}
      },
      "id": "8aa2a2f7-8942-4db6-9cbe-5a181eb12f71",
      "name": "RSS Read10",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        160,
        -1680
      ]
    },
    {
      "parameters": {
        "url": "https://ge.globo.com/futebol/times/fluminense/",
        "options": {}
      },
      "id": "e5d2860b-dca3-4dee-bec8-6f9deca7e41f",
      "name": "RSS Read11",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        160,
        -2000
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "5521988789979",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "3bfafda5-c5b9-4af5-ad26-9ca3cee1eb5b",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1920,
        -1920
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "ae797f9a-abd6-4bd8-bb60-7309bc7cd34f",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1260,
        -1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dd944bb-aee7-40b2-bdbd-f4bf40e4b5c0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "fluminense",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cc247f45-0973-4e76-9b34-39d70e169467",
              "leftValue": "={{ $json.title }}",
              "rightValue": "mano menezes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "25d5a9a3-feda-47cc-92e7-77d60369ea69",
      "name": "Filtro Interesses",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        -1900
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Escreva o tírulo do artigo {{ $json.title }}, em português do Brasil.\nAdicione a data de postagem no formato europeu {{ $json.pubDate }}. Exemplo: 20/12/2025.\nFaça um breve resumo, em português brasileiro, do artigo: {{ $json.guid }}. Ao final do resumo cite o site fonte do artigo {{ $json.guid }} .",
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      },
      "id": "ba8d668a-784d-4d07-8c42-bbd484191a55",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        -1920
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "3b5de4ac-2567-485d-8def-9832278ce4a5",
      "name": "Limit8",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        380,
        -2280
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "0e43e542-7960-4252-a73d-186a579515ca",
      "name": "Limit9",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        380,
        -2000
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "93de64f8-f021-4962-9d25-83f9fc676619",
      "name": "Limit10",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        380,
        -1680
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "id": "f1cd0280-6085-4e58-a55b-b86feeaf24ae",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1640,
        -1700
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gSJalkfoqFRHXbIS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "2c2d56e1-1270-4549-a3a8-6afcac3ed2f4",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        -1880
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "df6832a5-a59a-4b4b-8287-b2ad72107e84",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        -1900
      ]
    },
    {
      "parameters": {
        "sendTo": "fabreuesouza@gmail.com",
        "subject": "=Boletim IA [{{ $now.format('dd-MM-yyyy') }}]",
        "message": "=Principais artigos sobre Inteligência Artificial, LLM's e Marketing Digital </ br></ br>\n\n---</ br></ br>\n\n{{ $json.data }}",
        "options": {}
      },
      "id": "b7c9c792-d097-49b3-a156-f2c8de15e1a4",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        -500
      ],
      "webhookId": "51b57015-2da9-4651-b88b-34f6e1bfe633",
      "credentials": {
        "gmailOAuth2": {
          "id": "bOT3nls9GMJqJw6i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Escreva o tírulo do artigo {{ $json.title }}, em português do Brasil.\nAdicione a data de postagem no formato europeu {{ $json.pubDate }}. Exemplo: 20/12/2025.\nFaça um breve resumo, em português brasileiro, do artigo: {{ $json.guid }}. Ao final do resumo cite o site fonte do artigo {{ $json.guid }} .",
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      },
      "id": "3485a0c1-b87a-43ad-9047-92a6e9a901c6",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1800,
        -600
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "3f039010-01ee-42bc-81c5-45637fa82c59",
      "name": "Markdown1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2200,
        -500
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "75ef8342-b7d5-41e9-8c33-4d905367e2d9",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2420,
        -500
      ]
    },
    {
      "parameters": {
        "url": "https://hanhdbrown.com/feed/",
        "options": {}
      },
      "id": "0de88ca1-c1e8-4999-8472-4824300432b0",
      "name": "RSS Read6",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        -20
      ]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "7bc9859c-9991-40da-aacb-a6804b7cb698",
      "name": "Limit11",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        660,
        -20
      ]
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "0363ef8f-8782-4c98-9be4-f05b975f3b28",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        -580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Gera Títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Upload Midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "BUSCA ÚLTIMO POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redator": {
      "main": [
        [
          {
            "node": "MetaDescrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Midia": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RENOMEIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIA O POST": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA ÚLTIMO POST": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "CORRIGE BRANCHS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORRIGE BRANCHS": {
      "main": [
        [
          {
            "node": "INSERE A IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MetaDescrição": {
      "main": [
        [
          {
            "node": "CRIA O POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera Títulos": {
      "main": [
        [
          {
            "node": "Redator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Interesses1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Limit7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read9": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read10": {
      "main": [
        [
          {
            "node": "Limit10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read11": {
      "main": [
        [
          {
            "node": "Limit9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Interesses": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit10": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS Read9",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read11",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filtro Interesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read6": {
      "main": [
        [
          {
            "node": "Limit11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filtro Interesses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d17f3ae6-7f8a-44de-8b70-e5b60079f6c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "dLLgrplUi5KzpdPQ",
  "tags": []
}