Website_Scraping_v1.0.json
{
  "name": "Website Scraping",
  "nodes": [
    {
      "parameters": {},
      "id": "033fe4d3-c865-44ee-9daa-2d18290c47f2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2960,
        -1220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5cb67e2-712c-4959-9ce7-cced0976bb0f",
              "name": "Site",
              "value": "={{ $json.Site }}",
              "type": "string"
            },
            {
              "id": "53d7c04f-5226-4532-b223-16c716abfe85",
              "name": "id_lead",
              "value": "={{ $json.cod_lead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d2b32625-27f1-4009-9531-dd988d54b854",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        -1220
      ]
    },
    {
      "parameters": {},
      "id": "a0fc2d92-6290-4e10-8f67-edb082a26ea5",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        -800
      ],
      "webhookId": "9451bab6-27c0-470e-8262-51b65f9b183b"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 147184,
        "tableId": 399378,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3042696,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output.Instagram }}"
            },
            {
              "fieldId": 3062468,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output.Facebook }}"
            },
            {
              "fieldId": 3045339,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output.Whatsapp }}"
            },
            {
              "fieldId": 3156454,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output['Blog de Conteúdo'] }}"
            },
            {
              "fieldId": 3045425,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output.Resumo }}"
            },
            {
              "fieldId": 3045340,
              "fieldValue": "={{ $('SDR EXTRATOR').item.json.output.Wordpress }}"
            }
          ]
        }
      },
      "id": "0b55e39d-3363-4dd9-acc6-c53a2b89bd8c",
      "name": "Baserow3",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3680,
        -500
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 399378,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3042499,
                "value": "={{ $('Loop Over Items').item.json.id_lead }}"
              }
            ]
          }
        }
      },
      "id": "3e6ef4e9-11a7-49ef-8293-1239b30eff9f",
      "name": "Baserow2",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3440,
        -500
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "16817b7f-6991-4865-b275-1f6be600a431",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3780,
        -1220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4680e374-faef-4a74-a657-fb02f7f590c6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3220,
        -820
      ]
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 399378,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3045425,
                "operator": "empty"
              },
              {
                "field": 3042504,
                "operator": "not_empty"
              }
            ]
          }
        }
      },
      "id": "edcae42f-7659-4d73-ac51-dc3c54d4090d",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3220,
        -1220
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "9da40744-c9e8-455d-bc82-52b56a607dfc",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4340,
        -540
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "78351082-4376-48fe-a3b7-c1b90bd84f02",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        -1000
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "1a33d98c-9d17-4039-a4db-83c67eeb10e4",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4020,
        -1020
      ],
      "webhookId": "293533f5-de6d-4a84-b3f5-6a786ad662a1"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/http://www.topodomundo.com/",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "5db35e3d-0fce-42b5-9200-b9bb601eeec6",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -1020
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.Site }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b8d8c63c-0233-4012-b1d6-fb4f9b54834e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -800
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49054f30-de62-42bb-afa7-69c4731e7de6",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d37b9a4-9a7f-4eba-baea-e5e5b744f1ab",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        -800
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "H6fwh9fOMzotJ5pW",
          "mode": "list",
          "cachedResultName": "Who Is"
        },
        "options": {}
      },
      "id": "415df35c-a403-4dd9-8984-1f6b476860f7",
      "name": "WhoIs Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3660,
        -1000
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "435809202952433",
        "recipientPhoneNumber": "5521988789979",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "ec58471c-decd-4063-8c79-b04babc90301",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4980,
        -1020
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "JzzCCcVbUxUWRydO",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Mensagem",
              "description": "Extraia apenas a mensagem em texto limpo, que será enviada pelo whatsapp. Siga os carcateres \"\\n\" como espaços ENTER para separação das frases."
            }
          ]
        },
        "options": {}
      },
      "id": "d08da6ef-c5bd-4ae3-b86b-3560020f7c93",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        5220,
        -500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 147184,
        "tableId": 399378,
        "rowId": "={{ $('Baserow2').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3191803,
              "fieldValue": "={{ $json.output.Mensagem }}"
            }
          ]
        }
      },
      "id": "b96a7f93-80ca-49cc-ab3d-e7a3b0828e43",
      "name": "Baserow1",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        5240,
        -1020
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "desc": "=Card ID: {{ $('Trello2').item.json.id }}\nLead ID: {{ $('Baserow3').item.json.cod_lead }}\nNicho: {{ $('Baserow3').item.json.Nicho }}\nTelefone: {{ $('Baserow3').item.json.Telefone }}\nEndereço: {{ $('Baserow3').item.json['Endereço'] }}\nAvaliações Google: {{ $('Baserow3').item.json['Avaliações'] }}\nNota: {{ $('Baserow3').item.json.Nota }}\nResumo do Site: {{ $('Baserow3').item.json['Resumo do Site'] }}\nCNPJ: {{ $('Baserow3').item.json.CNPJ }}\nBlog: {{ $('Baserow3').item.json.Blog }}\nEcommerce: {{ $('Baserow3').item.json.Ecommerce }}"
        }
      },
      "id": "20fe7d4b-1025-43be-b332-20467f61da29",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        4380,
        -140
      ],
      "credentials": {
        "trelloApi": {
          "id": "VML4k66JWtpjrBJW",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getCards",
        "id": "6661220bf781bdb42aba67e3",
        "returnAll": true,
        "additionalFields": {
          "fields": "id,name"
        }
      },
      "id": "1d1b5bde-0bac-4485-b7de-9374244cd277",
      "name": "Trello2",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        3920,
        -340
      ],
      "credentials": {
        "trelloApi": {
          "id": "VML4k66JWtpjrBJW",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "389c007f-574c-4187-8bfc-a45248e417d1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Baserow3').item.json['Nome da Empresa'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cffdd311-9a69-473d-a11a-811d51777b32",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4160,
        -280
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Instagram",
              "description": "Extraia o link do instagram."
            },
            {
              "name": "Facebook",
              "description": "Extraia o link do facebook."
            },
            {
              "name": "Whatsapp",
              "description": "Extraia o número de telefone completo e sempre o reescreva no formato de link como o exemplo a seguir: \"https://wa.me/5521998767687\"."
            },
            {
              "name": "Email",
              "description": "Extraia o endereço de email encontrado nas informações."
            },
            {
              "name": "URL",
              "description": "Extraia a URL principal do domínio do site."
            },
            {
              "name": "Franquia",
              "description": "Extraia alguma informação que confirme que a empresa é franquia. Responda SIM ou NÃO."
            },
            {
              "name": "Resumo",
              "description": "Extraia as informações importantes do site e escreva um resumo comercial com visão de marketing e vendas sobre o site e sobre o negócio. Identifique oportunidades de melhoria no marketing digital que você identificar através do conteúdo do site. Seja específico e objetivo nessa identificação e nas explicações."
            },
            {
              "name": "Blog de Conteúdo",
              "description": "Extraia informações sobre a existência de uma seção ou link de conteúdo ou blog no site. Responda SIM ou NÃO."
            },
            {
              "name": "Wordpress",
              "description": "Extraia a versão do wordpress contida no html.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert html extraction algorithm that extract relevant information from the text.\nYou are not able to create information that do not exists. Always answer all the attributes."
        }
      },
      "id": "0d11d26d-97fa-40c5-90a3-861c4a4326aa",
      "name": "SDR EXTRATOR",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        4400,
        -800
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "7a2e8720-df03-4863-9b20-ff70325cdd13",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5380,
        -320
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gSJalkfoqFRHXbIS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Seu trabalho é executar essa pesquisa no google com a entrada \"q\" que está recebendo e extrair o maior número de informações possíveis desse resultado, sobre as reclamações existentes em nome da empresa.",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "key",
              "valueProvider": "fieldValue",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "valueProvider": "fieldValue",
              "value": "853c61790af224d2c"
            },
            {
              "name": "lr",
              "valueProvider": "fieldValue",
              "value": "lang_pt"
            },
            {
              "name": "start",
              "valueProvider": "fieldValue",
              "value": "1"
            },
            {
              "name": "num",
              "valueProvider": "fieldValue",
              "value": "10"
            },
            {
              "name": "q",
              "valueProvider": "fieldValue",
              "value": "=site:reclameaqui.com.br \"{{ $json['Nome da Empresa'] }}\""
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "ae1dc8df-df5c-4188-9fee-bcd943652e88",
      "name": "Busca ReclameAqui1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        5160,
        80
      ]
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 399378,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3042502,
                "value": "={{ $json['Nome da Empresa'] }}"
              }
            ]
          }
        }
      },
      "id": "97115f14-85f0-449e-aec9-a6054dc61cfe",
      "name": "Base de Dados1",
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        5020,
        80
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Seu trabalho é executar essa pesquisa no google com a entrada \"q\" que está recebendo e extrair o maior número de informações possíveis desse resultado, sobre o Instagram da empresa.",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "key",
              "valueProvider": "fieldValue",
              "value": "AIzaSyBO2zirKqREAnzftfH42lOw3vJ2_V8N51s"
            },
            {
              "name": "cx",
              "valueProvider": "fieldValue",
              "value": "853c61790af224d2c"
            },
            {
              "name": "lr",
              "valueProvider": "fieldValue",
              "value": "lang_pt"
            },
            {
              "name": "start",
              "valueProvider": "fieldValue",
              "value": "1"
            },
            {
              "name": "num",
              "valueProvider": "fieldValue",
              "value": "10"
            },
            {
              "name": "q",
              "valueProvider": "fieldValue",
              "value": "=site:instagram.com \"{{ $json['Nome da Empresa'] }}\" \"{{ $json['Endereço'] }}\""
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "a23d28ba-7dcb-492c-84ff-a3e1cd92028e",
      "name": "Busca Instagram1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        4900,
        80
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "e3386e57-fb9e-4032-a1a9-42c232e9f80f",
      "name": "Window Buffer 1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4780,
        -120
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "5b2da978-7c28-4734-acd0-7ebac328ca5c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4640,
        -120
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hoje é dia {{ $now }}. \nEscreva um e-mail curto, informal, positivo e persuasivo, com um forte gancho inicial, sobre a empresa \"{{ $json['Nome da Empresa'] }}\". Esse e-mail tem o objetivo de marcar uma reunião com o dono(a) (decisor) da empresa e apresentar um estudo de vendas e crescimento empresarial personalizado sobre o negócio dele. Como você não sabe o nome do decisor, escreva de forma genérica, porém uma mensagem personalizada e direta.\nIdentifique se o site da empresa é um domínio próprio ou é o link de redesocial para que você não mencione informações erradas. Leia o resumo do site: \"{{ $json['Resumo do Site'] }}\" para avaliar a qualidade do site. Faça uma análise das avaliações e comente positivamente. Use o resumo do site da empresa (tool \"base de dados\") para criar um gancho atraente (hook). Informações sobre o decisor estão nessa tool também.\nComente positivamente sobre as últimas postagens no Instagram da empresa (tool \"Busca Instagram\"). Consulte reclamações recentes da empresa (tool \"Busca ReclameAqui). Finalize com uma pergunta aberta.",
        "options": {
          "systemMessage": "You are a helpful copywriter with 20 years of experience."
        }
      },
      "id": "24b6f643-b5f6-4a1b-8c3e-d1c1fd4a97e1",
      "name": "SDR Copywriter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4800,
        -500
      ]
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 414784,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3175132,
                "value": "=679"
              }
            ]
          }
        }
      },
      "id": "506bf207-b5ae-4a99-a974-580a97bb9a32",
      "name": "Baserow4",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        4540,
        -500
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow3": {
      "main": [
        [
          {
            "node": "Trello2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "SDR EXTRATOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "SDR EXTRATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SDR EXTRATOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR EXTRATOR": {
      "main": [
        [
          {
            "node": "Baserow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Busca ReclameAqui1": {
      "ai_tool": [
        [
          {
            "node": "SDR Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Base de Dados1": {
      "ai_tool": [
        [
          {
            "node": "SDR Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca Instagram1": {
      "ai_tool": [
        [
          {
            "node": "SDR Copywriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer 1": {
      "ai_memory": [
        [
          {
            "node": "SDR Copywriter",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SDR Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Baserow2": {
      "main": [
        [
          {
            "node": "Baserow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR Copywriter": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow4": {
      "main": [
        [
          {
            "node": "SDR Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de0e36cb-0e52-4bd5-85c4-87f148aea4fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "ZLtUlpJavVPrFLaz",
  "tags": []
}