Whatsapp_Bot.json
{
  "name": "Whatsapp Bot",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "441f3d1a-a1ef-41be-bd8c-65b42d47161c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        540
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gSJalkfoqFRHXbIS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "121212",
        "contextWindowLength": 10
      },
      "id": "05da1a67-074d-4043-aef2-24ffbefc5067",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0952f9b5-9da1-4520-b13f-87d981cc50f2",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        340,
        320
      ],
      "webhookId": "39487bfa-a703-4761-b4c9-738bb95907c3"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://digbot.app.n8n.cloud/webhook/c7883fd8-c8aa-4fe0-acbc-b779e4cf7b90",
        "options": {}
      },
      "id": "033d30c0-7188-4bd2-aff7-622699f31d39",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7883fd8-c8aa-4fe0-acbc-b779e4cf7b90",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "02e1ddba-d689-4fdb-9e52-787b739c3c1c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        340,
        560
      ],
      "webhookId": "c7883fd8-c8aa-4fe0-acbc-b779e4cf7b90"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist."
        }
      },
      "id": "466f3d01-9b4b-4eb0-8e06-c716f3d021dd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "ec9a7f6a-f3e3-4280-940e-bd33b096059b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        580,
        480
      ],
      "webhookId": "2886bfe1-1a35-4f55-9ca6-a10bc4cc3207"
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "16a1ff81-acd4-4300-a504-9a86eb4fb65e",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1220,
        320
      ],
      "webhookId": "ac20cab7-46d7-4c79-82e7-55aa2017485e"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9feda427-d6d4-4002-812b-1c6c921b932b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "ZPGBsChf8b6UV4PB",
  "tags": []
}