Who_Is.json
{
  "name": "Who Is",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37f3ec2f-35e6-48db-ac73-562981bfe701",
              "leftValue": "={{ $json.domain }}",
              "rightValue": ".com.br",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c9a35e-2293-4213-9a9b-53d4909cdf12",
      "name": "Se \".com.br\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        -700
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0df9c448-70cc-4016-aee1-0c66996c1a29",
              "leftValue": "={{ $json.domain }}",
              "rightValue": "undefined",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bae2ffeb-61fe-46d3-a938-15207f253b81",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2300,
        -700
      ]
    },
    {
      "parameters": {},
      "id": "ee9f2379-7bdf-4bca-9a7c-8f5e7e4a3d15",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2300,
        -960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.Site; // Recebe a URL do campo \"websiteUri\"\n\n// Função para extrair o domínio usando Regex\nfunction extractDomain(url) {\n  try {\n    // Remover espaços desnecessários\n    const normalizedUrl = url.trim();\n    \n    // Expressão regular para capturar o domínio\n    const match = normalizedUrl.match(/https?:\\/\\/(www\\.)?([^\\/]+)/);\n    \n    if (match && match[2]) {\n      // Retorna o segundo grupo capturado: o domínio\n      return match[2];\n    } else {\n      return `Invalid URL: ${url}`; // URL não corresponde ao padrão\n    }\n  } catch (error) {\n    return `Invalid URL: ${url}`; // Retorna mensagem de erro com a URL\n  }\n}\n\n// Executa a função e retorna o domínio\nreturn { json: { domain: extractDomain(url) } };\n"
      },
      "id": "294251e8-19a7-47c9-94c9-a79e4180aaa3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        -960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5cb67e2-712c-4959-9ce7-cced0976bb0f",
              "name": "Site",
              "value": "={{ $json.Site }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14642dd1-c1cf-4687-a2ce-870b68845f65",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -960
      ]
    },
    {
      "parameters": {},
      "id": "18b0482a-23ab-4c50-9ed6-b9c54a5f06b3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3400,
        -620
      ],
      "webhookId": "5d247b1a-068b-4f68-99d3-a57d0d01af84"
    },
    {
      "parameters": {
        "url": "=https://rdap.registro.br/domain/{{ $json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ee08a6e8-5857-40b3-a81a-001fa12b86a0",
      "name": "Who Is?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        -620
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 147184,
        "tableId": 399378,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3053136,
              "fieldValue": "={{ $('Information Extractor2').item.json.output.CNPJ }}"
            },
            {
              "fieldId": 3059050,
              "fieldValue": "={{ $('Information Extractor2').item.json.output['Representante Legal'] }}"
            },
            {
              "fieldId": 3053289,
              "fieldValue": "={{ $('Information Extractor2').item.json.output.Email }}"
            },
            {
              "fieldId": 3053291,
              "fieldValue": "={{ $('Information Extractor2').item.json.output['Razão Social'] }}"
            }
          ]
        }
      },
      "id": "505a8ae3-a179-43e3-8698-ef8780cf9eec",
      "name": "Baserow3",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3660,
        -400
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 399378,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3042504,
                "operator": "contains",
                "value": "={{ $json.output['Domínio'] }}"
              }
            ]
          }
        }
      },
      "id": "8867ea46-b94b-40e5-a046-f81796b8f65a",
      "name": "Baserow2",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3280,
        -400
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cde16f19-6a81-480c-9177-e533239b07c4",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2960,
        -720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "41f8f9d2-d685-451c-8901-c7052f373d48",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3180,
        -720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3050726-27eb-4f6b-ab9e-f603bb4ff5be",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d888b0e-f5a2-46a3-b51a-7f6ed725a3a8",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4060,
        -620
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Domínio",
              "description": "Extraia o domínio principal analisado, no campo \"handle\" do texto."
            },
            {
              "name": "CNPJ",
              "description": "Extraia o CNPJ do domínio. É uma sequencia numérica de 15 dígitos."
            },
            {
              "name": "Representante Legal",
              "description": "Extraia o nome do representante legal pelo domínio registrado. Definido pelo campo \"legalRepresentative\"."
            },
            {
              "name": "Email",
              "description": "Extraia o endereço de email encontrado nas informações."
            },
            {
              "name": "Razão Social",
              "description": "Extraia o nome completo da empresa dentro do campo \"entity,vcard,kind\"."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. Não invente informações que não existam no texto."
        }
      },
      "id": "bc42ea8a-5146-432d-9b9a-35d04977c942",
      "name": "Information Extractor2",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        4300,
        -620
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "databaseId": 147184,
        "tableId": 399378,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 3042504,
                "operator": "contains",
                "value": ".com.br"
              },
              {
                "field": 3053136,
                "operator": "empty"
              }
            ]
          }
        }
      },
      "id": "eebdb074-bf8b-40c8-ac20-b83998a09483",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2600,
        -960
      ],
      "credentials": {
        "baserowApi": {
          "id": "p9yT8hD4cKqwhnNl",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "9cc117a0-1ae6-4785-98cc-947771c7c3be",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4320,
        -380
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvrpySW4pKRXBRPt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bd4b394c-c694-478d-b0da-f6ed25b6516c",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        -820
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Se \".com.br\"": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Se \".com.br\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Who Is?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Who Is?": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow2": {
      "main": [
        [
          {
            "node": "Baserow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Baserow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e65b2d06-2477-4ee6-99a8-d1a8200969a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf4acdb3c7457e6de3ae1172242b5e019e60fdddde76cddf79e063bad216475c"
  },
  "id": "H6fwh9fOMzotJ5pW",
  "tags": []
}